.size {
    /* width: 90%; */
    max-height: 150px;
    border: 1px solid #000;
    display: flex;
    overflow-x: auto;

    overflow-y: hidden;
}

.movie {
    width: 9rem;
    overflow: hidden;
    border-radius: 10px;
    transition: 300ms ease-in-out;
}

.movie:hover {
    transform: scale(1.05);
}

.container {
    position: relative;
    width: 9rem;
}

.image {
    opacity: 1;
    display: block;
    width: 9rem;
    height: 14rem;
    transition: .5s ease;
    backface-visibility: hidden;
}

.title{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.title p {
    margin-top: -70%;
    /* font-family: 'Montserrat'; */

}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .title {
    opacity: 1;
}

.text {
    background-color: #F50404;
    border-color: #F50404;
    color: white;
    font-size: 14px;
    cursor: pointer;
    /* font-family: 'Montserrat'; */
    width: 5rem;
}