* {
    padding: 0;
    margin: 0;
    transition: 500ms ease-in-out;
}

.page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://fywaupjcpwijkhaslcxh.supabase.co/storage/v1/object/public/movies/infinity%20war%20wide%202.jpg?t=2022-10-19T05%3A03%3A51.839Z);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.logo {
    width: 2.5rem;
    margin-left: 4%;
    margin-top: 2rem;
    filter: invert(25%) sepia(70%) saturate(6853%) hue-rotate(354deg) brightness(90%) contrast(113%);
}


.wlc P {
    width: 35%;
    margin-left: 4%;
    font-size: 2.8rem;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: bolder;
    margin-top: 12%;
    letter-spacing: 3px;
    position: absolute;
}

.wlc span {
    font-size: 2.8rem;
    color: #F50404;
}

.buttons {
    width: 35%;
    margin-left: 4rem;
    text-align: center;
    position: absolute;
}

.subtn {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    /* margin-right: 6rem; */
    /* float: right; */
    margin-top: 20rem;
    background-color: #F50404;
    color: #fff;
    width: 8rem;
    height: 2rem;
}

.signinbox {
    width: 25rem;
    height: 25rem;
    text-align: center;
    margin-top: 5rem;
    margin-right: 10rem;
    float: right;
    border-radius: 15px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.signinbox h2 {
    margin-top: 2rem;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;

}


.email {
    width: 20rem;
    height: 1.8rem;
    text-align: center;
    margin-top: 3rem;
}

.pass {
    width: 20rem;
    height: 1.8rem;
    margin-top: 3rem;
    text-align: center;
}

.cbox {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.cboxinner {
    margin: auto;
    width: 80%;
}

.cb {
    font-family: 'Montserrat';
    font-size: medium;
}

.cb span {
    color: blue;
}

.sibtn {
    border-color: transparent;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: #F50404;
    color: #fff;
    width: 8rem;
    height: 2rem;
    margin-top: 2rem;
}
