.signinbox{
    animation: trans 1s ease-in-out;
}
 
@keyframes trans {

    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

.wlc{
    animation: tran 1s ease-in-out;
}

@keyframes tran {

    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

button{
    animation: btn 2s ease-in;
}
 @keyframes btn {
    from{
        opacity: 0;
    }  
    
    to{
        opacity: 1;
    }
 }

