* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    height: 160vh;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F50404;
    border-radius: 10px;
}

.logo {
    position: relative;
    width: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    filter: invert(25%) sepia(70%) saturate(6853%) hue-rotate(354deg) brightness(90%) contrast(113%);
}

.poster {
    position: absolute;
    margin-top: 2rem;
    height: 25rem;
    width: 100%;
    background-color: rgb(36, 43, 49);
    overflow: hidden;
}

.poster img {
    width: 90%;
    margin-left: 35rem;
    margin-top: -5rem;
}

.name {
    margin-top: 2rem;
    position: absolute;
    height: 25rem;
    width: 100%;
    text-align: justify;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.819), rgba(0, 0, 0, 0.4));
}

.name h1, p {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 50%;
    color: #fff;
    font-family: 'Montserrat';
}

.name p {
    font-size: 18px;
    font-weight: lighter;
}

.name span {
    color: red;
    font-weight: 900;
}

button {
    font-size: 18px;
    font-family: 'Prompt';
    letter-spacing: 3px;
    font-weight: 900;
    height: 2rem;
    width: 8rem;
    /* border-radius: 6px; */
    margin-top: 4rem;
    margin-left: 20%;
    cursor: pointer;
}

.player{
    margin-top: 35rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.videoplr{
    margin-left: 20%;
    width: 60%;
}